<div class=" bg-light">
  <!-- Testimonial Start -->
<div class="container-xxl py-5">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s" data-aos="fade-up" data-aos-duration="2300">
        <div class="btn btn-sm border rounded-pill color px-3 mb-3">Depoimento</div>
        <h1 class="mb-4">O que dizem os nossos clientes!</h1>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
          amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
          clita duo justo et tempor eirmod magna dolore erat amet</p>
        <!-- <a class="btn btn-primary rounded-pill px-4" href="">Read More</a> -->
      </div>
      <div class="col-lg-8 wow fadeIn" data-wow-delay="0.5s">
        <!-- Testimonial Section -->
        <section id="testimonial" class="testimonial">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-lg-8 offset-lg-2 text-center">
                <div id="carouselExampleIndicatorsTwo" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicatorsTwo" data-bs-slide-to="0"
                      class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicatorsTwo" data-bs-slide-to="1"
                      aria-label="Slide 2"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="testimonial-wrapper">
                        <div class="row">
                          <div class="col-sm-12">
                            <img
                              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRLrO2mqPh3x8tqtU_ltHTiPh5b2sfbpL_Fw&usqp=CAU"
                              alt="" class="img-fluid">
                          </div>
                          <div class="username">
                            <h3>Johe Roy, Co-Founder / CEO</h3>
                            <span>IT ltd.</span>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                              commodo consequat. </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="testimonial-wrapper">
                        <div class="row">
                          <div class="col-sm-12">
                            <img
                              src="https://w7.pngwing.com/pngs/990/897/png-transparent-real-estate-estate-agent-business-property-developer-house-business-service-people-formal-wear.png"
                              alt="" class="img-fluid">
                          </div>
                          <div class="username">
                            <h3> Alexa CP, Co-Founder / CEO</h3>
                            <span>Company ltd.</span>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                              commodo consequat. </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorsTwo"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true">
                      <span class="fas fa-angle-left  slider-icon"><fa-icon [icon]="faAngleLeft"
                          class="color"></fa-icon></span>
                    </span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorsTwo"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true">
                      <span class="fas fa-angle-right  slider-icon"><fa-icon [icon]="faAngleRight"
                          class="color"></fa-icon></span>
                    </span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->
</div>
