<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5">
  <div class="container py-5">
      <div class="row g-5">
          <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
              <a href="index.html" class="d-inline-block mb-3">
                <img src="assets/svg/logo.svg" width="300px" alt="">
              </a>
              <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                  amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
                  clita duo justo et tempor</p>
          </div>
          <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
              <h5 class="text-white mb-4">Get In Touch</h5>
              <address>
                @for (address of addresses; track address) {
                <ng-container>
                  <div class="d-flex align-items-center mb-3 small">
                    <div class="p-2  bg-opacity-25 me-3"><fa-icon [icon]="address.icon" class="color"></fa-icon></div>
                    @if (address.action) {
                    <address>{{address.description | translate}}</address>
                    }

                    @else {
                    <address>{{address.description | translate}}</address>
                    }
                  </div>
                </ng-container>
                }

              </address>
              <div class="d-flex pt-2">
                  <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                  <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                  <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
          @for (item of links; track item;) {
            <div class="col-12 col-md-2">
              <h5 class="mb-3">{{item.title | translate}}</h5>
              @for (subItem of item.items; track subItem) {
              <ul class="nav flex-column small">
                @if (subItem.url) {
                <li class="nav-item mb-2"><a [routerLink]="subItem.url" class="nav-link p-0 text-white">{{subItem.name | translate}}</a>
                </li>
                }

                @if (subItem.url.startsWith('http')) {
                <li class="nav-item mb-2"><a [href]="subItem.url" target="_blank"
                    class="nav-link p-0 text-white">{{subItem.name | translate}}</a></li>
                }

                @if (subItem.url === '#') {
                <li class="nav-item mb-2"><a [href]="subItem.url" class="nav-link p-0 text-white">{{subItem.name | translate}}</a></li>
                }
              </ul>
              }

            </div>
            }
      </div>
  </div>
  <div class="container wow fadeIn" data-wow-delay="0.1s">
      <div class="copyright">
          <div class="row">
              <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                  &copy; {{anoCorrente}} M3.Tech. {{'footer.direitos' | translate}}
              </div>
              <div class="col-md-6 text-center text-md-end">
                  <div class="footer-menu">
                      <a href="">Cookies</a>
                      <a href="">FAQs</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Footer End -->
