/*** Hero Header ***/
.hero-header {
  background: url(../../../../../../../public/assets/img/bg-hero.png) center center no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  background-color: rgba(191, 24, 24, .2)!important;
}
