<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h6 class="color">Nossos Serviços</h6>
    </div>
    <div class="row g-4">
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s" data-aos="fade-up" data-aos-duration="800">
        <div class="service-item rounded overflow-hidden">
          <img class="img-fluid" src="assets/img/servicos.jpg" alt="">
          <div class="position-relative p-4 pt-0">
            <div class="service-icon">
              <fa-icon [icon]="faSolarPanel" class="fa fa-3x color"></fa-icon>
            </div>
            <h4 class="mb-3">Outsoursing de IT</h4>
            <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
            <a class="small fw-medium color" href="">Saiba mais <fa-icon [icon]="faArrowRight" class="fa"></fa-icon></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s" data-aos="fade-up" data-aos-duration="1500">
        <div class="service-item rounded overflow-hidden">
          <img class="img-fluid" src="assets/img/servicos.jpg" alt="">
          <div class="position-relative p-4 pt-0">
            <div class="service-icon">
              <fa-icon [icon]="faSolarPanel" class="fa fa-3x color"></fa-icon>
            </div>
            <h4 class="mb-3">Outsoursing de IT</h4>
            <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
            <a class="small fw-medium color" href="">Saiba mais <fa-icon [icon]="faArrowRight" class="fa"></fa-icon></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s" data-aos="fade-up" data-aos-duration="2100">
        <div class="service-item rounded overflow-hidden">
          <img class="img-fluid" src="assets/img/servicos.jpg" alt="">
          <div class="position-relative p-4 pt-0">
            <div class="service-icon">
              <fa-icon [icon]="faSolarPanel" class="fa fa-3x color"></fa-icon>
            </div>
            <h4 class="mb-3">Outsoursing de IT</h4>
            <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
            <a class="small fw-medium color" href="">Saiba mais <fa-icon [icon]="faArrowRight" class="fa"></fa-icon></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->
