<!-- Features Section -->
<section id="features" class="features section bg-light mt">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Missão, Visão e Valores</h2>
    <p>Conheça as directrizes que nos movem!</p>
  </div><!-- End Section Title -->

  <div class="container">
    <div class="row justify-content-between">

      <div class="col-lg-5 d-flex align-items-center">

        <ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="100">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
              <i class="bi bi-binoculars"></i>
              <div>
                <h4 class="d-none d-lg-block">Missão</h4>
                <p>
                  Oferecer soluções inovadoras e personalizadas
                </p>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
              <i class="bi bi-box-seam"></i>
              <div>
                <h4 class="d-none d-lg-block">Visão</h4>
                <p>
                  Liderar soluções tecnológicas e de
engenharia, impulsionando o desenvolvimento
sustentável e a transformação digital
                </p>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
              <i class="bi bi-brightness-high"></i>
              <div>
                <h4 class="d-none d-lg-block">Valores</h4>
                <p>
                  Inovação Buscar soluções modernas e eficientes <br>
                  Qualidade Manter altos padrões de excelência e segurança  <br>
                  Parcerias Colaborar com parceiros estratégicos como Microsoft e STYLUS <br>
                  Responsabilidade Social Compromisso com o desenvolvimento de Angola <br>
                  Ética e Transparência Atuar com integridade e construir confiança
                </p>
              </div>
            </a>
          </li>
        </ul><!-- End Tab Nav -->

      </div>

      <div class="col-lg-6">

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

          <div class="tab-pane fade active show" id="features-tab-1">
            <img src="assets/img/hero-img.png" alt="" class="img-fluid">
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-2">
            <img src="assets/img/home-banner.png" alt="" class="img-fluid">
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-3">
            <img src="assets/img/tabs-3.jpg" alt="" class="img-fluid">
          </div><!-- End Tab Content Item -->
        </div>

      </div>

    </div>

  </div>

</section><!-- /Features Section -->
