    <div class="container-fluid pt-5 hero-header mb-5">
      <div class="container pt-5">
          <div class="row g-5 pt-5 desc">
              <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                  <div class="btn btn-sm border rounded-pill text-white px-3 mb-3" data-aos="fade-up" data-aos-duration="2300">M3.Tech</div>
                  <h1 class="display-4 mb-4" data-aos="fade-right" data-aos-duration="2300">Soluções
                    personalizadas inteligentes para
                    setores de négocios</h1>
                  <p class="text-white mb-4" data-aos="fade-left" data-aos-duration="2300">Tempor rebum no at dolore lorem clita rebum rebum ipsum
                      rebum stet dolor sed justo kasd. Ut dolor sed magna dolor sea diam. Sit diam sit</p>
                  <a href="" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3" data-aos="fade-down" data-aos-duration="2300">Saiba +</a>
              </div>
              <div class="col-lg-6 align-self-end text-center text-lg-end">
                  <img class="img-fluid" src="assets/img/home-banner.png" alt="">
              </div>
          </div>
      </div>
  </div>
