<div class="sobre">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-black py-5">
        <h5 class="py-1" data-aos="fade-right" data-aos-duration="2300">
          <div class="d-flex align-items-center">
            <hr class="linha-horizontal">
          </div>
        </h5>
        <h3 class="" data-aos="fade-left" data-aos-duration="2300">Uma empresa, mais Inovadora e Consistente.</h3>
          <p class="py-3 text-justify sb-p" data-aos="fade-up" data-aos-duration="2300">M3Tech – Consultoria em Tecnologia e Engenharia tem liderado o cenário empresarial,
            emergindo da união de três entidades especializadas. Com profunda experiência em
            Segurança da Informação, Serviços em Nuvem, serviços especializados em saúde e
            engenharia civil, a M3Tech destaca-se por sua abordagem inovadora e progressiva,
            criando um ambiente onde o conhecimento se entrelaça com soluções personalizadas
            para diversos setores.
          </p>
        <div class="premissa">
          <img src="assets/premissas/Vector 957.svg" alt="" data-aos="fade-up" data-aos-duration="2300"
            data-aos-anchor-placement="top-bottom">
          <p class="py-3 text-justify sb-p" data-aos="fade-left" data-aos-duration="2300"
            data-aos-anchor-placement="top-bottom" style="letter-spacing: 0; hyphens: auto;">A M3 é uma empresa de direito angolano, inscrita no NIF: 5001331833 que actua na
            área das tecnologias de informação. Contamos com cerca de 48 funcionários, 3
            colaboradores e pertencemos a um grupo com mais de 5 Consultores (Parceiros), que
            nos garantem a capacidade de assumir qualquer projecto e de qualquer dimensão.
            Com mais amplo leque de oferta e com a vontade de participar no desenvolvimento de
            Angola a M3TECH, pretende colocar-se a disposição para uma parceria estratégica.</p>
        </div>

      </div>
      <div class="col-12 col-md-1"></div>
      <div class="col-12 col-md-5 sect" style="background-image: url(assets/img/pattern.png);" data-aos="fade-up"
        data-aos-duration="2300">
        <img class="py-5" src="assets/img/sobre-m3.jpeg" style="width: 100%; height: 100%; object-fit: cover;" alt="" data-aos="fade-up"
          data-aos-duration="2500">
      </div>
    </div>

  </div>
</div>
